body {
	margin: 0 auto;
	padding-top: 3.5rem;
    background-color: #121212;
}

@font-face {
	font-family: Roboto-light;
	src: url("/static/fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: Roboto-medium;
	src: url("/static/fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: Roboto-regular;
	src: url("/static/fonts/Roboto-Regular.ttf");
}

.navbar {
	background: #2333b5;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #2e1f65, #0b3958);
}

.jumbotron {
background-color: #191818 !important;
}

#brand {
	display: inline-block;
	font-family: Roboto-medium;
	color: #fff;
	font-size: 25px;
	margin-right: 1rem;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}

#version {
	display: inline-block;
	position: absolute;
	right: 7px;
	bottom: 2px;
	font-family: Roboto-light;
	color: #ffffffb8;
	font-size: 13px;
}

.head-dashboard {
	font-family: Roboto-regular;
	font-size: 40px;
	font-weight: 300;
	line-height: 1.2;
	color: #fff;
}

p {
color: #fff !important;	
}

@media only screen and (max-width: 427px) {
	.head-dashboard {
		font-size: 30px;
	}
}

input {
	font-family: Roboto-light;
}

.btn1 {
	font-family: Roboto-medium;
	color: #fff;
	font-size: 20px;
}

button {
	display: inline-block;
	background: #3a3a3a;
	font-family: Roboto-medium;
	color: #fff;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.65rem 1rem;
	border-radius: 5px;
	outline: none;
	margin-top: 5px;
}

@media only screen and (min-width: 768px) {
	button:hover {
		background: #3b3b3b;
	}
}

button.hidden {
	background: #f33030;
	opacity: 0.9;
}

button.pending {
	background: #ffc107;
	opacity: 0.9;
	color: #000;
}

.function1 {
	display: grid;
}

.btn2 {
	font-family: Roboto-medium;
	color: #fff;
	font-size: 20px;
}

.function2 {
	display: grid;
}

@media only screen and (max-width: 765px) {
	.function2 {
		margin-top: 40px;
	}
}

.btn3 {
	font-family: Roboto-medium;
	color: #fff;
	font-size: 20px;
}

.function3 {
	display: grid;
}

@media only screen and (max-width: 765px) {
	.function3 {
		margin-top: 40px;
	}
}

#footer_vc {
	position: absolute;
	bottom: 1px;
	left: 20px;
	font-size: 16px;
}

@media only screen and (max-width: 765px) {
	#footer_vc {
		position: static;
		bottom: 1px;
		left: 20px;
		font-size: 16px;
	}
}

#bottom_container {
	font-weight: bold;
	cursor: pointer;
	color: #fff;
}

@media only screen and (max-width: 768px) {
	#card02 {
		margin-top: 18px;
	}
}

#form-check-02 {
	padding-left: 0px;
}

.card {
background-color: #282b7b !important;
}

.card-header {
    color: #fff !important;	
}

.form-check {
color: #fff !important;	
}

hr {
	background-color: #2b2b2b !important;
}

li.list-group-item {
    background-color: #131313;
}